#show-title, #show-summary {
  z-index: 2;
  font-family: 'Cormorant Garamond', serif;

  user-select: none;
  pointer-events: none;
}
.ghibliImage {
  width: 400px; 
  height: auto; 
  position: relative;
  left: 40%; 
  filter: brightness(0) invert(1) grayscale(0);
}
/* page summartt-------------------------------------------------------------------------------------------------- */
#text-container {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 40%; 
  top: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  user-select: none;
  pointer-events: none;
  z-index: 4;
  /* z-index: 4; */
}

#text-container > h1 {
  text-align: right;
  font-size: 5vw; /* Use viewport width (vw) units for font size */
  padding-right: 5%;
}

#text-container > p {
  text-align: right;
  font-size: 1.2vw; /* Use viewport width (vw) units for font size */
  margin-right: 5%; /* Use percentage for margin */
  height: auto; /* Remove fixed height */
  
}

#text-container > .close-button {
  width: 50px;
  position: absolute;
  top: -600px;
  right: 10px;
  
}
/* -------------------------------------------------------------------------------------------------- */


/* archives-------------------------------------------------------------------------------------------------- */
#scroll-container {
  position: absolute;
  width: 28%;
  height: 700px;
  text-align: right;
  margin-left: 70%;
  margin-top: 10vh;
  user-select: none;
  /* pointer-events: none; */
  background-color: rgb(2, 10, 6);
  border: 1px solid rgb(0, 70, 49);
  opacity: 0;
  transition: opacity 0.3s ease;
}
#scroll-container
{
  color: white;
  overflow:hidden;
  overflow-y:scroll;
}
#scroll-container::-webkit-scrollbar{
  width: 16px;
}

#scroll-container::-webkit-scrollbar-track{
  background-color: #000f09;
  border-radius: 100px;
}
#scroll-container::-webkit-scrollbar-thumb{
  background-color: #00754e;
  border-radius: 100px;
}
#scroll-container{
  scrollbar-color: #002418 #e4e4e4;
}
/* .scroll-container::-webkit-scrollbar-thumb{
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4  99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
} */
ul{
  margin-right: 20px;
}

/* -------------------------------------------------------------------------------------------------- */


/* movie summary-------------------------------------------------------------------------------------------------- */
button{
  width: 160px;
  height: 40px;
  user-select: auto;
  pointer-events: auto;
}

#page-summary {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 3%; /* Adjust the left position as needed */
  top: 50%;
  font-family: 'Cormorant Garamond', serif;

  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease;
  user-select: none;
  pointer-events: none;
}
#page-summary > h1 {
  text-align: left;
  font-size: 5vw; /* Use viewport width (vw) units for font size */
  /* padding-right: 5%; */
}

#page-summary > p {
  text-align: left;
  font-size: 1.1vw; /* Use viewport width (vw) units for font size */
  margin-right: 5%; /* Use percentage for margin */
  height: auto; /* Remove fixed height */
  width: 1400px;
}
@media (max-width: 1780px) {
  #page-summary > p {
    text-align: left;
    font-size: 1.5vw; /* Use viewport width (vw) units for font size */
    margin-right: 5%; /* Use percentage for margin */
    height: auto; /* Remove fixed height */
    width: 700px;
  }
}
/* -------------------------------------------------------------------------------------------------- */


/* image scrolling -------------------------------------------------------------------------------------------------- */
body {
  
  height: 100vh;
  width: 100vw;
  background-color: rgb(10, 17, 14);
  overflow: hidden;
  /* border: 3px solid wheat;
  user-select: none;
  pointer-events: none; */
  /* z-index: -1; */
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
  /* z-index: -2; */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  border: 3px solid wheat;
  /* pointer-events: none; */
  
}

video
{
  top: -100px;
  position: absolute; /* Take it out of the document flow */
  filter: brightness(0.65);
  transition: filter 0.3s ease;
  /* visibility: hidden; */
  /* z-index: 3; */
}

/* -------------------------------------------------------------------------------------------------- */


/* Search bar-------------------------------------------------------------------------------------------------- */

.row{
  position: relative;
  left: 73%;
}
.page-buttons{
  position: relative;
  left: 29%;
  margin-top: 30px;
}
.nav-button{
  margin-right: 100px;
}

:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  left: 25%;
  user-select: none;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

/* .form__label */
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

/* .form__field:focus */
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
  color: var(--primary);
  font-weight: 700;
}

/* Reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* -------------------------------------------------------------------------------------------------- */

