body
{
    
    font-family: "Montserrat";
    /* text-align: center; */
}
.container-fluid
{
    position: absolute;
    top: 0;
    background-color: rgb(255, 66, 98);
     /*         top_edge,  right_edge,  bottom_edge,  left_edge */
     clip: rect(  -65px,      10000px,       580px,         -100px  );
}
/* section
{
    background-color: rgb(66, 255, 91);
    z-index: 0;
} */

.Header
{
    margin-left: 1000;
}

h1{
    
    font-size:70px;
    font-weight: 800;
    
}

.headerImg 
{
    /* position: absolute;
    transform: rotate(25deg);
    margin-left: 350px;
    clip:rect(0px,600px,600px,0px);
    z-index: 1; */
    width: 60%;
    transform: rotate(25deg);
}


#features {

    margin-top: 100px;

    padding: 7% 15%
   ;
   }
   .feature-box {
    text-align: center
   ;
    padding: 5%
   ;
}

.feature-icon
{
    font-size: 60px;
}

.main-container{
    padding: 3% 15%;
}

.navbar-brand
{
    font-size: 60px;
    
}

.feature-box{
    margin-top: 850px;
}

.btn
{
    margin-top: 30px;
    margin-right: 30px;
    padding: 2% 5%
}