body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

header,
.show-position
{
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* .textOverlay {
  position: absolute;
  top: 50%; 
  left: 50%; 
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 10px;
  border: 1px solid #000;
  z-index: 1;
}
  */
.textOverlay
{
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 50%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  color: rgb(0, 0, 0);
}