html, body{
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #000;
}


.show-position
{
  margin-top: 3em;
  text-align: center;
  color: white;
  z-index: 1;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}



.title-header {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 27%; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: rgb(255, 255, 255);
  padding: 2px; 
}
  
.overlay-container {
  position: relative; 
  
}

.textOverlay {
  text-align: center;
  font-weight: 50;
  color: rgb(255, 255, 255);
}

.pOverlay {
  text-align: center;
  font-weight: 50;
  color: rgb(255, 255, 255);
}
  

